@{
	ViewBag.Title = "Home page";

	
}
<style>
	#main {
		padding-top: 50px;
	} 
</style>

<div id="app">
	<projects-list></projects-list>
	<access-type-list></access-type-list>
	<clients-list></clients-list>
</div>
